<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="./assets/js/runtime.17ef4bd4.js"></script>
<script type="text/javascript" src="./assets/js/lib.17ef4bd4.js"></script>
<script type="text/javascript" src="./assets/js/ui.17ef4bd4.js"></script>
<script type="text/javascript" src="./assets/js/vendor.17ef4bd4.js"></script>
<script type="text/javascript" src="./assets/js/main.17ef4bd4.js"></script>
</body>
</html>
