<!DOCTYPE html>
<html lang="en">
<head>
    <title>统一登录平台</title>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="./res/lib/jquery.min.js"></script>
    <script type="text/javascript" src="./res/js/login.js"></script>
    <link rel="stylesheet" href="./res/css/login.css" media="all"/>
</head>
<body>
<div class="container">
    <div class="login-container">
        <div class="title-container">
            <h3 class="title">统一登录平台</h3>
        </div>
        <div class="un-wrapper">
            <input placeholder="用户名" name="username" id="username"/>

        </div>
        <div class="psd-wrapper">
            <input placeholder="密码" name="password" id="password" type="password"/>
        </div>
        <div class="error-wrapper">
            <span id="error_text"></span>
        </div>
        <div class="login-btn" id="login">
            登&#12288;&#12288;陆
        </div>
    </div>
</div>
</body>
</html>